<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>

  <div class="wrapper">
      <div class="topic-headline">Git Cheat Sheet</div>
      
      <div class="steps">
      


        
        <div class="step-mg">
          {{data[1]['id']}}
        </div>

         <span class="step-ng">
          {{data[0]['id']}}
         </span>
  


        <!-- <span class="step"></span>
        <span class=""></span>
        <span class="step"></span> -->
      </div>
      





  </div>
  
</body>
</html>